* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgb(158, 143, 3);
    color: rgb(0, 0, 0);
}

/* Navbar */
nav {
    background: #570303;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(242, 220, 220);
    text-decoration: none;
}

/* Home */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000, rgb(217, 224, 173));
    color: rgb(252, 249, 225);
}

.home span {
    color: rgb(243, 237, 191);
}

.home button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

.skills ul {
    list-style: none;
}

.skills li {
    background: #0deb44;
    margin: 10px;
    padding: 10px;
}

/* Projects */
.projects {
    background: #e8e8ba;
}

.project-box {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

/* Contact */
.contact {
    background: #e60303;
    color: white;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}